<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">  
	
	<head>
    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	
	    <title>View Attendance Page</title>
	    <style type="text/css">
	    	button{
	    		height: 7rem;
	    		width: 7rem;
	    	}
	    </style>
	</head>
  <body>
	<div sec:authorize="hasAuthority('ADMIN')" th:replace="/header :: header" />
	<div sec:authorize="hasAuthority('USER')" th:replace="/userheader :: userheader" />
	
	<div class="container mt-5">
		<div class="card">
			<div class="card-body">
				<h3>Attendance Calendar	</h3>
			</div>
			<hr/>
			<div class="card-body ">
				 <div class="row seven-cols ">
				   
				    <div th:each="date :${dates}" class="m-2">
				    	<button th:if="${date.day != '24 Sat'}"  class="btn btn-primary" disabled="disabled" >
				    		<strong th:text="${date.day}"></strong><br/>
				    		<strong th:text="${date.month}"></strong><br/>
				    		<strong th:text="${date.year}"></strong>
				    	</button>
				    	<button th:if="${date.day == '24 Sat'}" class="btn btn-warning" disabled="disabled" >
				    		<strong th:text="${date.day}"></strong><br/>
				    		<strong th:text="${date.month}"></strong><br/>
				    		<strong th:text="${date.year}"></strong>
				    	</button>
				    </div>
				  </div>
			</div>
		</div>
	</div>	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>