<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">  
	
	<head>
    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	
	    <title>Attendance Page</title>
	</head>
  <body>
	<div th:replace="/header :: header" />
	<div class="container mt-5">
		<div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">All Employees</h5>
	      </div>
	      <div class="modal-body">
	       <table class="table table-striped table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Email</th>
		      <th scope="col">Username</th>
		      <th scope="col">Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="user : ${users}" th:if="${#authentication.getPrincipal().user.id != user.id} ">
		      <th scope="row" th:utext="${#strings.substring(user.id,0,8)+'...'}" ></th>
		      <td th:text="${user.email}"></td>
		      <td th:text="${user.username}"></td>
		      <td>
		      	<a th:href="${'/admin/markattendance/'+user.id}" class="btn btn-primary" >
		      		Mark Attendance
		      	</a>
		      	<a th:href="${'/admin/viewattendance/'+user.id}" class="btn btn-success" >
		      		View Attendance
		      	</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
	
	      </div>
	    </div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>

<!--  <form th:action="${'/admin/leaves/edit/'}" method="post">
			  <div class="form-group">
			    <label >Leave Name</label>
			    <input type="text" class="form-control" id="leaveName" name="leaveName" required="required" autofocus="autofocus" >
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form> -->